.service-section {
    background-color: #1c1c1c;
}
.service-title {
    font-weight: 300;
    letter-spacing: 2px;
}
.service-address {
    font-weight: 300;
    font-size: 1.1rem;
}
.service-icon {
    font-size: 2rem;
    color: #fff;
}
.service-name {
    font-weight: 400;
    margin-bottom: 0.25rem;
}
.service-time {
    font-size: 0.95rem;
    font-weight: 300;
}
