.pastor-bio-section {
    background-color: #ffffff;
}

.pastor-image {
    max-width: 420px;
    border-radius: 50%;
}

.pastor-bio-section p {
    font-size: 1.05rem;
    line-height: 1.7;
    color: #333;
}
.pastor-bio-section h1 {
    color: #414141;
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 200;
}
.audio-wrapper iframe {
    border-radius: 8px;
}

.book-feature-section {
    background-color: #fff;
}

.book-title {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2;
    color: #111;
}

.book-subtitle {
    font-weight: 400;
}

.book-feature-section p {
    font-size: 1.05rem;
    line-height: 1.8;
    color: #333;
}

.book-image {
  border-radius: 16px;
  max-width: 100%;
}


