.pastor-bio-section {
    background-color: #ffffff;
}

.pastor-image {
    max-width: 420px;
    border-radius: 50%;
}

.pastor-bio-section p {
    font-size: 1.05rem;
    line-height: 1.7;
    color: #333;
}
.pastor-bio-section h1 {
    color: #414141;
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 200;
}
.audio-wrapper iframe {
    border-radius: 8px;
}

.book-feature-section {
    background-color: #fff;
}

.book-title {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.2;
    color: #111;
}

.book-subtitle {
    font-weight: 400;
}

.book-feature-section p {
    font-size: 1.05rem;
    line-height: 1.8;
    color: #333;
}

.book-image {
  border-radius: 16px;
  max-width: 100%;
}


.buy-link {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 1.2rem;
}

/* underline */
.buy-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #000;

    /* animation setup */
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

/* hover: slide OUT to the right */
.buy-link:hover::after {
    transform-origin: right;
    transform: scaleX(0);
}
