.prayer-section {
    background: #1f1f1f;
    min-height: 100vh;
}
.prayer-rss,.custom-prayer {
    background: #1f1f1f !important;
}
.prayer-icon {
    font-size: 50px;
    letter-spacing: 3px;
}

.resource-link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 5px solid #fff;
    padding-bottom: 3px;
}

.resource-link:hover {
    opacity: 0.7;
}
