
.ministry-team-section {
    background-color: #f5f5f5;
    color: #333;
    padding: 50px 0;
}

.ministry-team-member {
    margin-bottom: 30px;
}

.ministry-team-member img {
    height: 350px;
    object-fit: cover;
    max-width: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 160px 160px 0px 0px;
    margin-bottom: 15px;
}

.ministry-team-member h4 {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.ministry-team-member p {
    font-size: 1rem;
    color: #333;
}
.ministry-team-custom-text {
    margin: 0 auto;
}

.custom-view img{
    height: 70vh;
}